<p id="notice"><%= notice %></p>

<h1 id="character-heading">Characters</h1>



<% @characters.each do |character| %>
<div class="character-name">
  <h2><%=character.fetch("name")%></h2>
</div>
  <a href="characters/<%=character.fetch("id")%>"><img class='character-image' src=<%=character.fetch("image")%> alt=""></a>

<% end %>
