* {
    border: 1px solid red;
}

.character-image{
  max-height: 500px;
  max-width: 700px;
  height: 35%;
  width: 45%;

}

.header-image{
  /* margin-left: 50%; */
  max-height: 768px;
  max-width: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body{
  background-image: url('https://images8.alphacoders.com/909/thumb-1920-909346.jpg');

}

.character-name{
  font-family: 'Bangers', cursive;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px black;

}

#character-heading{
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

.character-profile-image {
  max-height: 800px;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid black;
}

ul {
  list-style-image: url('http://www.simpleimageresizer.com/_uploads/photos/f0dacffc/392-3929330_affordable-dragon-balls-dragon-ball-super-png_1_25x25.png');


}
li {

  float: left;
  font-size: 25px;
  font-family: 'Bangers', cursive;
  color: white;
  text-shadow: 2px 2px black;
  width: 33%;
  padding: 5px;
  margin-left: 35px
}

.profile-header {
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 50px;
  font-family: 'Bangers', cursive;
}

.character-show-name {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 75px
}

.character-bio {
  text-align: center;
  color: black;
  font-size: 23px;
  font-family: 'Acme', sans-serif;
}

#home-text{
  margin-left: 35%;
  margin-top: -12%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
}

.section-1 {
  float: left;
  width: 32%;
  border: 1px solid black;
  height:500px;
  margin-bottom: 20px;
  margin-left: 15px
}

.forms {
  float: left;
  width: 32%;
  border: 1px solid black;
  height:500px;
  overflow: auto;
}

.family{
  float: left;
  width: 32%;
  height: 500px;
  border: 1px solid black;

}

.home-link {
  position: fixed;
  bottom: 0;
  left: 0;
}
.container {
  background-image: radial-gradient(
    circle at center,
    #FFCE33 34%,
    #F85B1A);
    /* border-left: 8px solid black; */
    margin-left: 50px;
    /* border-right: 8px solid black; */
    margin-right: 50px;
    overflow: auto;
    padding-bottom: 100px;


  }
  .character-list{
    float: left;
    height: 800px;
    width: 800px;
  }
