/* * {
border: 1px solid red;
} */

.character-image{
  max-height: 500px;
  max-width: 700px;
  height: 35%;
  width: 45%;

}

.header-image{
  /* margin-left: 50%; */
  max-height: 768px;
  max-width: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body{
  background-image: radial-gradient(
    circle at center,
    #FFCE33 34%,
    #F85B1A);
    /* border-left: 8px solid black; */
    
    /* overflow: auto; */
    padding-bottom: 100px;
  }

  .character-name{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;

  }

  #character-heading{
    font-family: 'Bangers', cursive;
    font-size: 50px;
  }

  .character-profile-image {
    max-height: 800px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
  }

  ul {
    list-style-image: url('http://www.simpleimageresizer.com/_uploads/photos/f0dacffc/392-3929330_affordable-dragon-balls-dragon-ball-super-png_1_25x25.png');

    margin-top: -40px;
    margin-left: -30px;

  }
  li {

    float: left;
    font-size: 25px;
    font-family: 'Bangers', cursive;
    color: white;
    text-shadow: 2px 2px black;
    width: 33%;
    padding: 10px;
    padding-right: 25px;
    margin-left: 25px;


  }

  .profile-header {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
    font-family: 'Bangers', cursive;
  }

  .character-show-name {
    text-align: center;
    font-family: 'Bangers', cursive;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 75px
  }

  .character-bio {
    text-align: center;
    color: black;
    font-size: 23px;
    font-family: 'Acme', sans-serif;
  }

  #home-text{
    margin-left: 35%;
    margin-top: -12%;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px black;
  }

  .section-1 {
    float: left;
    width: 30%;
    height:500px;
    margin-bottom: 20px;
    margin-left: 15px;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }

  .forms {
    float: left;
    width: 30%;
    height:500px;
    overflow: auto;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

  }

  .family{
    float: left;
    width: 30%;
    height: 500px;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

  }
  .search-link {
    position: fixed;
    bottom: 0;
    left: 60px;
  }
  .home-link {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .character-list{
    float: left;
    height: 800px;
    width: 800px;
  }
